---
import Layout from '../layouts/Layout.astro';
---

<Layout title="BetMates">
	<main class="m-16">
		<img src="/landing-page/bet-mates.webp" alt="Bet Mates Logo">
		<h1 class=""><span class="text-gradient">Soon!</span></h1>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	main {
		display: grid;
		place-items: center;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>
